[submodule "module/auth"]
	path = module/auth
	url = https://github.com/daniel-vuky/gogento-auth
[submodule "module/configuration"]
	path = module/configuration
	url = https://github.com/daniel-vuky/gogento-configuration
